
<div class="card-columns m-3 mt-5">

  <!-- Remote Projects -->
  {% for remote_project in page.remote_projects %}

    {%- for repo in site.github.public_repositories -%}

      {%- if remote_project == repo.name -%}

        {%- assign project = repo -%}
        {%- assign words = project.name | split: '-' -%}
        
        {%- capture titlecase -%}
          {%- for word in words -%}
            {{ word | capitalize | append: ' ' }}
          {%- endfor -%}
        {%- endcapture -%}

        {%- assign project_type  = "remote" -%}
        {%- assign project_id    = project.name -%}
        {%- assign project_img   = false -%}
        {%- assign project_name  = titlecase | strip -%}
        {%- assign project_desc  = project.description -%}
        {%- assign project_url   = project.html_url -%}
        {%- assign project_tools = project.topics -%}

        {% include projects/project-card.html %}

      {%- endif -%}

    {%- endfor -%}

  {% endfor %}

  {%- assign projects = site.projects | sort: 'year_from' -%}

{%- assign projectIndices = "" | split: "" -%}
{%- assign currentIndex = 0 -%}

{%- assign itemsPerColumn = projects | size -%}
{%- assign b = itemsPerColumn | modulo: 3 -%}
{%- assign itemsPerColumn = itemsPerColumn | divided_by: 3 -%}

{%- if b != 0 -%}
{%- assign itemsPerColumn = itemsPerColumn | plus: 1 -%}
{%- endif -%}

{%- assign currentColumn = 0 -%}

  {%- for project in projects -%}

  {%- assign newIndex = currentIndex | modulo: itemsPerColumn | times: 3 -%}

  {%- assign temp = currentIndex | divided_by: itemsPerColumn | floor -%}

  {%- assign newIndex = newIndex | plus: temp -%}

  {%- assign projectIndices = projectIndices | push:newIndex -%}

	{%- assign currentIndex = currentIndex | plus:1 -%}
	{%- assign currentColumn = currentColumn | plus: 1 | module: 3 -%}
  {%- endfor -%}


{%- if site.organise_projects -%}
{%- assign projects = projects | reverse -%}

  <!-- Local Projects -->
  {% for index in projectIndices %}

	{%- assign project = projects[index] -%}

    {%- assign project_type  = "local" -%}
    {%- assign project_id    = project.name | slugify -%}
    {%- assign project_img   = project.image -%}
    {%- assign project_name  = project.name -%}
    {%- assign project_desc  = project.description -%}
    {%- assign project_tools = project.tools -%}
    {%- assign project_year_from = false -%}
    {%- assign project_year_to = false -%}

    {%- if project.year_from -%}
      {%- assign project_year_from  = project.year_from -%}
    {%- endif -%}

    {%- if project.year_to -%}
      {%- assign project_year_to  = project.year_to -%}
    {%- endif -%}

    {%- if project.external_url -%}
      {%- assign project_url = project.external_url -%}
    {%- else -%}
      {%- assign project_url = project.url | relative_url -%}
    {%- endif -%}

    {% include projects/project-card.html %}

  {% endfor %}
  {%- else -%}
  
  {% for project in site.projects %}

    {%- assign project_type  = "local" -%}
    {%- assign project_id    = project.name | slugify -%}
    {%- assign project_img   = project.image -%}
    {%- assign project_name  = project.name -%}
    {%- assign project_desc  = project.description -%}
    {%- assign project_tools = project.tools -%}
    {%- assign project_year_from = false -%}
    {%- assign project_year_to = false -%}

    {%- if project.year_from -%}
      {%- assign project_year_from  = project.year_from -%}
    {%- endif -%}

    {%- if project.year_to -%}
      {%- assign project_year_to  = project.year_to -%}
    {%- endif -%}

    {%- if project.external_url -%}
      {%- assign project_url = project.external_url -%}
    {%- else -%}
      {%- assign project_url = project.url | relative_url -%}
    {%- endif -%}

    {% include projects/project-card.html %}

  {% endfor %}
  {%- endif -%}

</div>
